body {
    /*background-color: #888888;*/
    background-color: rgba(255,0,0,0);
    margin:0;
    padding:0;
	overflow:hidden;
    font-family: Arial;
    -webkit-user-select: none;
    font-size: 1em;
}

#page {
    /*background-color: #222222;*/
}

/*#conteneur {*/
.conteneur {
    position: absolute; background-color: rgba(0,0,0,0);
    border: 0; padding: 0;
}

#menu {
    display: block; position: absolute; width: 100%; bottom: 0px;  white-space: nowrap;
    /*background-color: #888888;*/
    background-color: rgba(0,0,0,0);
}

.menu_button {
    display: inline-block; position:relative; z-index:10001; bottom: 0px; line-height: 1.75em; /*margin-left: auto; margin-right: auto;*/
    color: #ffffff; background-color: rgba(0,0,0,1); opacity: 0.3; font-weight: bold;
    text-align: center; vertical-align: middle; padding-left: 0.5em; padding-right: 0.5em;
    /*border-radius: 0 0 0.6em 0.6em;*/
    border-radius: 0.6em 0.6em 0 0;
    cursor: pointer;
}

.menu_button_on {
    display: inline-block; position:relative; z-index:10001; bottom: 0px; line-height: 1.75em; /*margin-left: auto; margin-right: auto;*/
    color: #ffffff; background-color: rgba(0,0,0,1); opacity: 1; font-weight: bold;
    text-align: center; vertical-align: middle; padding-left: 0.5em; padding-right: 0.5em;
    /*border-radius: 0 0 0.6em 0.6em;*/
    border-radius: 0.6em 0.6em 0 0;
    cursor: pointer;
}

.menu_button:hover {
    opacity: 1;
}

#drag {
    position: absolute;
    background-color:rgba(255,255,0,0);
    z-index:10;
    width:20%;
    height:20%;
    top: 40%;
    left: 40%;
    /*-webkit-user-select: none;*/
    -webkit-app-region: drag;
}
#drag:hover {
    cursor: move; /*background-color:rgba(255,255,0,0.5);*/
}

#drag_overlays_cont {
    position: absolute;
    background-color:rgba(128,128,255,0.5);
    z-index:999;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    border: 3px solid #ffff00;
    box-sizing: border-box;
}
#drag_overlays {
    position: relative;
    width:94%;
    height:94%;
    top: 3%;
    left: 3%;
    -webkit-app-region: drag;
    pointer-events: auto;
}

#fullscreen {
    position: absolute;
    background-color: #004422;
    opacity: 0.3;
    width: 4em;
    height: 3.5em;
    padding-top: 0.5em;
    line-height: 1.5em;
    z-index: 99999;
    right: 0px;
    bottom: 0px;
    color: #ff8800;
    text-align: center;
    font-size: 1em;
    vertical-align: middle;
}
#fullscreen:hover {
    opacity: 1;
    cursor: pointer;
}
